---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular"
;

.navbar-nav {
  display: flex;
  flex-wrap: nowrap; /* Ensure items stay on one line */
  justify-content: flex-start; /* Align items to the left */
  margin-left: 0; /* Remove extra margin on the left */
  padding-left: 0; /* Remove extra padding */
}

.navbar-nav li {
  margin-right: 15px; /* Adjust this value for spacing between items */
}

.navbar-nav li a {
  white-space: nowrap; /* Prevent breaking onto a new line */
  font-size: 0.9rem; /* Adjust font size to fit */
}

.container {
  max-width: 1200px; /* Increase max-width if needed to allow more space */
}


/* Figure configs */
figure {
  text-align: center; /* Center the figure */
  margin: 20px auto;  /* Add some margin */
}

figcaption {
  font-size: 0.85rem; /* Make the caption text smaller */
  font-style: italic; /* Italic style for the caption */
  color: #666; /* You can adjust the color */
  text-align: center; /* Center the caption */
  margin-top: 10px; /* Add space between the image and caption */
}